
    <ul>
        {{#each menuItem}}
        <li>
            <p>Restaurant: {{foodApp}}</p>
            <p>Food: {{foodName}}</p>
            <button>See Menu: {{}}</button>
            <button>Save to Favorites: {{}}</button>
        </li>
        {{/each}}
    </ul>