<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="./stylesheets/style.css" type="text/css" />
        <title>cravings</title>
</head>
<body>
        {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/members.js"></script>
    <script src="./js/signup.js"></script>
</body>
</html>