<h1 class="animate__animated animate__backInDown" style="text-align: center;">CRAVINGS!!!</h1>


<div id="resList" class="container" style="text-align: center; display: flex">

    <ul id="listbox-groups">

    </ul>

    <ul id="resMenu" class="container" style="text-align: center;"></ul>

</div>

<br>
<br>
<br>
<br>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWoP6f-9psxjG3WLdFuIGUvc9Xrjh6itA&callback=initMap">
    </script>
{{> cravings/menu-input}}