<h1 class="animate__animated animate__backInDown" style="text-align: center;">CRAVINGS!!!</h1>

<<<<<<< HEAD
<div class="menu align-center" class="container" style="text-align: center;">
    <form>
        <!--Search Bar title-->
        <label for="mname">Enter Food</label>
        <br>
        <br>
        <!--Search Bar-->
        <input type="text" id="userMenuInput" name="mname" placeholder="example: Filet Mignon">
        <br>
        <br>
        <label for="mname">Enter Distance</label>
        <br>
        <br>
        <!--Search Bar-->
        <input type="text" id="userMileInput" name="mname" placeholder="example: 5 miles">

        <br>
        <br>

        <!--Search Btn-->
        <button id="searchFoodBtn" type="button" class="btn btn-primary">Lets Eat</button>
        <br>
    </form>

</div>
<div id="resList" class="container" style="text-align: center; display: flex">

    <ul id="listbox-groups">

    </ul>

    <ul id="resMenu" class="container" style="text-align: center;"></ul>






</div>

<br>
<br>
<br>
<br>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWoP6f-9psxjG3WLdFuIGUvc9Xrjh6itA&callback=initMap">
    </script>
=======
{{> cravings/menu-input}}
{{!-- 
{{> cravings/cravings-search}} --}}
>>>>>>> 0cf2ef44328cce07d79dec97cc3e176c83cc03b7
