<h1 style="text-align: center;">CRAVINGS!!!</h1>

    <div class="container" style="text-align: center;">
        <form>
            <!--Search Bar title-->
            <label for="mname">Enter Food</label>
            <br>
            <br>
            <!--Search Bar-->
            <input type="text" id="userMenuInput" name="mname" placeholder="example: Filet Mignon">
            <br>
            <!--Search Btn-->
            <button id="searchMenuBtn" type="button" class="btn btn-primary">Lets Eat</button>
            <br>
        </form>
    </div>

    <div id="map" style= "height:50%"></div>

<form action="/signup" style="text-align: center; margin-top: 50px">
    <input id="signUp" type="submit" value="Sign-Up to save your favorites!" />
</form>
