<div class="holy-grail-grid">
  <div class="holy-grail-header">
    <nav class="top-bar topbar-responsive">
        <div class="top-bar-title">
          <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
          </span>
          <a class="topbar-responsive-logo" href="#"><strong>{{{name}}}</strong></a>
        </div>
        <div id="topbar-responsive" class="topbar-responsive-links">
          <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
                <li><a href="#">Home</a></li>
                <li><a href="#">My Favorites</a></li>
                <li>{{{member-name}}}</li>
            </ul>
          </div>
        </div>
    </nav>
  </div>

  <div class="holy-grail-left">
    <h3>Nav</h3>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </div>

  <div class="holy-grail-middle">
    <h3>Content</h3>
    <div id="map" style= "height:50%"></div>
  </div>

  <div class="holy-grail-footer">
    <h3>Footer</h3>
  </div>

</div>

