<div id="map" style="height:400px; width: 400px; align:center"></div>

<script>
    var map;

    function initMap() {

        const locations = document.querySelectorAll(".mapResult");
        //this will be an empty array filled with info from menu search
        console.log(locations);
        var urlPattern = new URLSearchParams(window.location.search)

        var latitude = urlPattern.get("latitude");
        var longitude = urlPattern.get("longitude");


        console.log(latitude, longitude);

        map = new google.maps.Map(document.getElementById("map"), {
            //if statement for window,userlocation
            center: { lat: parseFloat(latitude), lng: parseFloat(longitude) },
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP,

        });


        var infowindow = new google.maps.InfoWindow();

        var marker, i;
        locations.forEach(location => {

            marker = new google.maps.Marker({ //get results to pull from locations once we figure out how that info is coming in 
                position: new google.maps.LatLng(location.dataset.latitude, location.dataset.longitude), map: map,
            }); google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(location.dataset.name); infowindow.open(map, marker);
                }
            })(marker, i));
        })
    }




    const result = []; const menuMap = new Map(); for (const item of response.result.data) {
        if (!menuMap.has(item.restaurant_id)) {
            menuMap.set(item.restaurant_id, true); // set any value to Map 
            result.push(item);
        }
    }

</script>