<div id="menu-input" class="menu align-center" class="container" style="text-align: center;">

  <form>
    <!--Search Bar title-->
    <label for="mname">Enter Food</label>
    <br>
    <br>
    <!--Search Bar-->
    <input type="text" id="userMenuInput" name="mname" placeholder="example: Filet Mignon">
    <br>
    <br>
    <label for="mname">Enter Distance</label>
    <br>
    <br>
    <!--Search Bar-->
    <input type="text" id="userMileInput" name="mname" placeholder="example: 5 miles">
    <br>
    <br>
    <!--Search Btn-->
    <button id="searchFoodBtn" type="button" class="btn btn-primary">Lets Eat</button>
    <br>
    <br>
  </form>

</div>

<div style="text-align: center; margin-top: 50px" id="signUpContainer">
  <a href="/signup"> <button id="signUp" type="button">Sign-Up to save your favorites!</button></a>
</div>




<!--new page-->
<class class="holy-grail-grid hide" id="search-results">
  <div class="holy-grail-header">
    <nav class="top-bar topbar-responsive">
        <div class="top-bar-title">
          <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
            <button class="siteName" type="button">{{{member-name}}}</button>
          </span>
          <a class="topbar-responsive-logo" href="#"><strong>{{{name}}}</strong></a>
        </div>
        <div id="topbar-responsive" class="topbar-responsive-links">
          <div class="top-bar-right">
            <ul id="top-bar-href" class="menu simple vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="#">My Favorites</a></li>
                <li><a href="/signup">Sign-Up/Login</a></li>
                <li><a class="navbar-brand" href="/logout">Logout</a>
               </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div id="resList" class="holy-grail-left">
    <h3>Nav</h3>
    <ul id="listbox-groups">

    </ul>

    <ul id="resMenu" class="container" style="text-align: center;"></ul>
  </div>

<div id="resList" class="container" style="text-align: center; display: flex">

    <ul id="listbox-groups">

    </ul>

    <ul id="resMenu" class="container" style="text-align: center;"></ul>
<div id="resList" class="container" style="text-align: center; display: flex">

    <ul id="listbox-groups">

    </ul>

    <ul id="resMenu" class="container" style="text-align: center;"></ul>



  <div class="holy-grail-middle">

    <div id="map" style="height:400px; width: 400px; align:center"></div>
  </div>

  <div class="holy-grail-footer">
    <h3>Footer</h3>
    <h3>Content</h3>
    <div id="map" style="height:400px; width: 400px"></div>
  </div>
</class>

<div class="holy-grail-footer">
  <h3>Footer</h3>
</div>


<script>

    document.getElementById("searchFoodBtn").addEventListener("click", function(){
        
    document.getElementById("menu-input").classList.add("hide")

    document.getElementById("signUpContainer").classList.add("hide")

    document.getElementById("search-results").classList.remove("hide")


})
.then(response => {
	console.log(response);
})
.catch(err => {
	console.log(err);
});

</script>
