    <nav class="top-bar topbar-responsive">
        <div class="top-bar-title">
          <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
            <button class="siteName" type="button">{{{member-name}}}</button>
          </span>
          <a class="topbar-responsive-logo" href="#"><strong>{{{name}}}</strong></a>
        </div>
        <div id="topbar-responsive" class="topbar-responsive-links">
          <div class="top-bar-right">
            <ul id="top-bar-href" class="menu simple vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="/users" id="members">My Favorites</a></li>
                <li><a href="/signup">Sign-Up/Login</a></li>
                <li><a class="navbar-brand" href="/logout">Logout</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>